.input {
  font-size: 0.925rem;
  font-style: normal;
  font-weight: 400;
  color: var(--text-primary);
  background: inherit;
  padding: 1.25rem;
  border: 1px solid #eee;
  border-radius: 0.625rem;
  box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
}
