.item {
  display: flex;
  gap: 1.25rem;
  max-width: 32rem;
}

.image {
  width: 5.125rem;
  height: 5.125rem;
  filter: drop-shadow(0px 8px 25px rgba(224, 219, 196, 0.9));
  background-size: cover;
  background-position-x: center;
  border-radius: 1.25rem;
}

.actions {
  margin-left: auto;
}
