.button {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.accent {
  background-color: var(--button-submit-background);

  &:hover {
    background-color: var(--button-submit-background-hover);
  }
}
