:root {
  --font-family: 'Open Sans', sans-serif;

  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --saparator-color: #d4d6e0;

  --text-primary: #000000;
  --text-primary-light: #ffffff;
  --text-secondary: #5b5b5e;

  --light-background: #ffffff;
  --dark-background: #000000;
}

body {
  font-family: var(--font-family);
  margin: 0;
  & > #root {
    height: 100vh;
  }
}
