:root {
  --font-family: 'Open Sans', sans-serif;

  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --separator-color: #d4d6e0;

  --text-primary: #000000;
  --text-primary-light: #ffffff;
  --text-secondary: #5b5b5e;

  --error-color: #a50000;

  --light-background: #ffffff;
  --dark-background: #000000;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

body > #root {
  height: 100vh;
}

a {
  text-decoration: none;
}

h4 {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}
